@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/slate-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-start-primary: var(--gray-1);
    --gradient-end-primary: var(--gray-3);

    --dracula: rgb(40, 42, 54);

    --background: var(--gray-3);
    --foreground: var(--gray-3);

    --card: var(--gray-2);
    --card-foreground: 222.2 84% 4.9%;

    --popover: var(--gray-2);
    --popover-foreground: var(--gray-12);

    --primary: var(--grass-8);
    --primary-foreground: var(--gray-1);

    --secondary: var(--sky-11);
    --secondary-foreground: var(--gray-1);

    --switch-unchecked: var(--sky-12);

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--red-10);
    --accent-foreground: var(--red-1);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--gray-6);
    --border-dark-1: var(--gray-9);
    --border-muted: var(--gray-4);

    --skeleton: var(--gray-6);

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --error-message: hsl(0, 100%, 41%);
    --logout-button: hsl(0, 100%, 41%);
    --radius: 0.5rem;

    --text-heading: var(--black-a10);
    --text-body: var(--black-a9);
    --text-body-inactive: var(--black-a7);
    --text-muted: var(--black-a8);

    --shadow: var(--gray-9);
    --table-header: var(--gray-5);

    --active-link: var(--sky-6);

    --white: var(--white-a12);

    --success: var(--grass-10);
    --error: var(--red-9);

    --exclude-badge-background: var(--red-4);
    --exclude-badge-foreground: var(--black-a10);
    --include-badge-background: var(--grass-4);
    --include-badge-foreground: var(--black-a10);
    --secondary-badge-background: var(--sky-5);
    --secondary-badge-foreground: var(--black-a10);

    --toastify-color-success: var(--grass-10);
    --toastify-color-error: var(--red-9);

    --context-menu-background: var(--red-10);
    --context-menu-foreground: var(--white-a10);
  }

  .dark {
    --gradient-start-primary: #051024;
    --gradient-end-primary: #030A1C;

    --background: #030A1C;
    --foreground: var(--slate-4);

    --card: #051024;
    --card-foreground: var(--slate-8);

    --popover: var(--slate-2);
    --popover-foreground: var(--gray-12);

    --primary: var(--sky-6);
    --primary-foreground: var(--gray-12);

    --secondary: var(--sky-4);
    --secondary-foreground: var(--gray-11);

    --switch-unchecked: var(--gray-7);

    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--red-9);
    --accent-foreground: var(--red-12);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: #0B1C3E;
    --border-dark-1: var(--gray-8);
    --border-muted: var(--gray-12);

    --skeleton: var(--slate-8);

    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --text-heading: var(--white-a8);
    --text-body: var(--white-a6);
    --text-body-inactive: var(--white-a8);
    --text-muted: var(--white-a5);

    --shadow: var(--slate-1);
    --table-header: var(--gray-4);

    --active-link: var(--sky-9);

    --white: var(--white-a12);

    --success: var(--grass-8);
    --error: var(--red-10);

    --exclude-badge-background: var(--red-7);
    --exclude-badge-foreground: var(--white-a10);
    --include-badge-background: var(--grass-5);
    --include-badge-foreground: var(--white-a10);
    --secondary-badge-background: var(--sky-3);
    --secondary-badge-foreground: var(--white-a10);

    --toastify-color-success: var(--grass-8);
    --toastify-color-error: var(--red-10);

    --context-menu-background: var(--red-7);
    --context-menu-foreground: var(--white-a9);
  }
}

@layer base {
  body {
    background: var(--background);
  }

  h1 {
    font-size: 2.25rem !important;
    color: var(--text-heading) !important;
    font-weight: bolder !important;
  }
  h2 {
    font-size: 1.875rem !important;
    color: var(--text-heading) !important;
    font-weight: bolder !important;
  }

  h3 {
    font-size: 1.5rem !important;
    color: var(--text-heading) !important;
    font-weight: bolder !important;
  }

  h4,
  h5,
  h6,
  a {
    color: var(--active-link) !important;
    font-weight: normal !important;
  }

  p {
    color: var(--text-body) !important;
    overflow-wrap: break-word !important;
  }

  table {
    border-collapse: separate;
    border: solid var(--border-muted) 1px;
    border-radius: 6px;
    border-spacing: 0 !important;
  }

  thead {
    background: var(--table-header) !important;
  }

  th {
    color: var(--text-heading) !important;
    font-weight: bold !important;
    position: sticky !important;
    top: 0 !important;
  }

  td {
    color: var(--text-body) !important;
    font-weight: normal !important;
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}
